:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --grey: #757575;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-size: 1.6rem;
}
.title {
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Krub', sans-serif;
}
.title span {
  font-size: 2rem;
}
.container {
  width: 120rem;
  margin: 0 auto;
}
.nav-bg {
  background-color: var(--secondary);
}
.main-nav {
}